body {
  margin: 0px;
}

.pageContainer {
  max-width: 600px;
  margin: auto;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

label {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 20px;
}
