body {
  margin: 0px;
}

.pageContainer {
  max-width: 600px;
  margin: auto;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

label {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 20px;
}

.postCard,
.profileCard {
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
}

button.btnReact {
  border: 0;
  background: none;
  padding: 5px;
  font-size: 23px;
  cursor: pointer;
}
