.form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 20px;
  border: $border;
  background-color: getColour(white);
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input,
textarea {
  border: $border;
  padding: 5px;
}

.createForm {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: flex-start;
  gap: 20px;
}

.createForm.userImageContainer {
  flex: 2;
}

.createForm form {
  flex: 5;
}

.createBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .addImageBtn,
  .addTagsBtn {
    background-color: getColour(grey);
    width: 100%;
  }

  .createPostBtn {
    border-radius: 2px;
    background-color: getColour(green);
    color: getColour(white);
  }

  div,
  .createPostBtn {
    border: none;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 14px;
  }
}
