nav {
  background-color: getColour(white);
  padding: 10px 30px;
  box-shadow: $shadow;
  position: sticky;
  top: 0;
  z-index: 100;

  .navContainer {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .logOutBtn,
  .logInBtn {
    margin-right: 20px;
  }

  .fa-user {
    font-size: 25px;
  }
}

.navTabsProfile {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 100px;

  @media (max-width: $medium-width) {
    width: 100%;
  }
}

.nav-link {
  color: getColour(green) !important;
}

.navTabsFeed {
  margin-top: 50px;
  margin-bottom: 10px;

  .nav-item button {
    background-color: getColour(grey) !important;
    border: none !important;
  }

  .nav-item .active {
    border-bottom: $border !important;
  }
}
