nav {
  background-color: getColour(white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-shadow: $shadow;
  position: sticky;
  top: 0;

  .logOutBtn,
  .logInBtn {
    margin-right: 20px;
  }

  .fa-user {
    font-size: 25px;
  }
}
