.postCard,
.profileCard {
  border: $border;
  background-color: getColour(white);
  margin: 40px 20px;
  width: 500px;
  padding: 10px 15px;
}

a {
  text-decoration: none;
  color: getColour(black);
}

.btnReact {
  border: 0;
  background: none;
  padding: 5px;
  font-size: 22px;
  margin: 0;
  cursor: pointer;
  text-align: left;
  width: fit-content;
}

.reactionSymbols {
  width: 50px;
  display: flex;
}

.tagsContainer {
  display: flex;
  flex-direction: row;
}

.tagItem {
  color: getColour(green);
  margin-right: 15px;
}

.postHeader {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  align-items: center;
  margin: -10px -15px;
  padding: 10px 15px;
  box-shadow: $shadow;

  .postInfoContainer {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.iconContainer {
  border-top: $border-thin;
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px 0px 15px;
  text-align: right;
  min-height: 51px;

  i {
    padding: 8px;
  }
}

.postCardImage {
  width: 100%;
}

.editBtnDetails {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
