.postCard {
  border: $border;
  background-color: getColour(white);
  margin: 40px 20px;
  max-width: 500px;
  padding: 10px 15px;

  @media (max-width: $medium-width) {
    max-width: 90%;
    border: $border-thin;
  }

  @media (min-width: $medium-width) {
    min-width: 500px;
  }
}

.btnReact {
  border: 0;
  background: none;
  padding: 5px;
  font-size: 22px;
  margin: 0;
  cursor: pointer;
  text-align: left;
  width: fit-content;
}

.reactionSymbols {
  width: 50px;
  display: flex;
}

.tagsContainer {
  display: flex;
  flex-direction: row;

  .tagItem {
    color: getColour(green);
    margin-right: 15px;
  }
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -10px -15px;
  padding: 15px 20px;
  box-shadow: $shadow;

  .postInfoContainer {
    display: flex;
    align-items: center;
    gap: 15px;

    h2 {
      margin-top: 10px;
    }
  }
}

.iconContainer {
  border-top: $border-thin;
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px 0px 15px;
  text-align: right;
  min-height: 51px;

  i {
    padding: 8px;
  }
}

.postCardImage {
  width: 100%;
  margin: 10px auto;
}

.editBtnDetails {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.commentsContainer {
  display: flex;
  flex-direction: column-reverse;

  .comment {
    padding: 20px 15px 15px 15px;
    border-top: 1px solid getColour(green);

    .date {
      margin-top: -15px;
    }
  }
}
