.profileContainer {
  margin-top: 20px !important;
  padding-bottom: 50px;
  background-color: getColour(white);

  .profileInfoContainer {
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 2px -2px getColour(dark-grey);

    .profileName,
    p {
      line-height: 10px;
    }

    .profileNameContainer {
      align-self: center;
    }

    .userBasicsContainer {
      display: flex;
      gap: 30px;
    }
  }

  .profileHeaderContainer {
    width: 100%;
  }

  .banner {
    width: 100% !important;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 250px;
    z-index: 1;

    img {
      width: 100% !important;
      border-radius: 2px;
      transform: translateY(-40%);
    }
  }
}

.profileListContainer,
.myFollowersContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.profileCard,
.myProfileFollow {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  box-shadow: $shadow;
  width: 300px;
  background-color: getColour(white);

  h2 {
    font-size: 18px;
    margin: 0;
  }
}

.profileListContainer {
  max-width: 1000px;
  margin: 40px 20px;
}

.myFollowersContainer {
  max-width: 800px;
}
