body {
  font-family: $font-primary;
  color: getColour(black);
}

.logo {
  font-family: $font-logo;
  font-size: 20px;
}

.logInLogo {
  text-align: center;
  font-size: 30px;
  margin-top: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: $font-headings;
}

h1 {
  font-size: 26px;
}

.postAuthor {
  font-size: 21px;
}

.postTitle {
  font-size: 18px;
  font-weight: 700;
  margin-top: 50px;
}

p {
  font-size: 16px;
}

.editBtn,
.logInBtn,
.logOutBtn,
.followBtn,
.updatePostBtn,
.deleteBtn,
.loginBtn,
.newAccountBtn,
.editProfileBtn {
  font-size: 14px !important;
}

.feedTitle,
.editHeading {
  text-align: center;
  font-family: $font-logo;
  font-size: 28px;
}

.date {
  font-size: 12px;
  margin-top: -5px;
}

.commentOwner {
  font-size: 14px;
  margin-bottom: 18px;
  margin-top: 35px;
}

label {
  font-size: 12px;
}

.fa-heart,
.fa-comment {
  font-size: 24px;
  color: getColour(green);
}
